	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		}
	body{
		background-color: #4d77cb;
		}
	h2 {
		text-decoration: underline;
		}
	a {
		text-decoration: none;
	}
	a:link, a:visited {
		color: navy;
	}
	
	.logocontainer {
		display: flex;
		margin: 1% auto 0 auto;
		border: 0.03125em solid #000000;
		border-radius: 0.3125em;
		background: linear-gradient(270deg, #85A4E0, #5C85D6, #3367CC, #2952A3, #1f3E7A); 
		width: 98%;
		height: 9.0625em;
	}
	.mainlogo {
		margin: 0.625em;
	}
	
	.hnavcontainer {
		display: flex;
		justify-content: flex-end;
		width: 76%;
		position: relative;
		top: -2.875em;
		left: 22.45%;
	}

	.hamburger {
		display: none;
	}
	
	.hnavmenu li {
		float: left;
		margin: 0 0.125em;
		list-style: none;
		/*transition is on the container of what you want the animation to be on.*/
		transition: transform 0.5s ease-in-out;
		/*preserve the 3d affect*/
		transform-style: preserve-3d;
	}
	.hnavmenu li:hover {
		transform: translate3d(0, 20px, 500px) skew(45deg, -45deg) rotate3d(4,6,10,-340deg) scale3d(1,1,2);
	}
	.hnavmenu a {
		display: block;
		padding: 0.375em  0.75em;
		text-align: center;
	}
	.hnavmenu a:hover{
		background-color: grey;
		border-radius: 0.3125em;
	}
	.hnavmenu a.active {
		background-color: darkgrey;
		border-radius: 0.3125em;
	}

	.mainfooter {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		width: 98%;
		background-color: grey;
		border: 0.0625em solid #000000;
		border-radius: 0.3125em;
		margin: 0 auto 1% auto;
		padding: 1%;
		position: relative;
	}
	
	.linkedin {
		margin: 0.5625em 0;
	}
	
	.share-buttons {
		display: flex;
		flex: column nowrap;
		list-style: none;
		margin: 0 0.9375em;
	}
	.share-buttons img {
		margin: 0.625em 1em;
		width: 2em;
		height: 2em;
	}
	
	.copyright {
		position: absolute;
		bottom: 1%;
		left: 1%;
		font-size: 0.5018750050188em;
	}
	.copyright a:hover, .copyright a:active {
		background-color: lightgrey;
	}

	@media only screen and (max-width : 620px)
	{
		.hnavcontainer {
			display: block;
			width: 98%;
			top: 0;
			left: 0;
			border: 0.03125em solid #000000;
			border-radius: 0.3125em;
			background-color: grey;
			margin: 1% auto;
		}
		
		.hamburger {
			display: flex;
			justify-content: center;
			cursor: pointer;
			padding: 0.625em;
			color: navy;
		}

		.hnavmenu {
			width: 100%;
			height: 0;
			overflow: hidden;
			transition: height 0.3s ease-in-out;
		}
		
		.open {
			height: 17.3125em;
		}
		
		.hnavmenu li {
			width: 100%;
			border-bottom: 0.0625em solid darkgrey;
			border-right: none;
		}
		.hnavmenu ul li:first-child {
			border-top: 0.0625em solid darkgrey;
		}
		.hnavmenu ul li:last-child {
			border-bottom: none;
		}
		.hnavmenu a:link, .hnavmenu a:visited {
			font-size: 1.334em;
		}
		.hnavmenu a:hover{
			background-color: lightgrey;
		}
		.fblikebutton {
			margin: 0.5625em 0;
		}
	}